<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>The Not Coke Machine</title>

    <!-- Framework CSS -->

    <link rel="stylesheet" href="/media/css/reset.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/media/css/grid.css" type="text/css" media="screen, projection">
	<link href='http://fonts.googleapis.com/css?family=Changa+One|Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/media/css/typography.css" type="text/css" media="screen, projection">
	<style>
	h1.header {
		color: #26ADE4;
		margin-bottom: 0;
	}
	h2.subheader {
		font-family: 'Love Ya Like A Sister', cursive; color: #444
	}
	</style>
  </head>
  <body>
    <div class="container">
		<div style="text-align: center">
			<img src="/media/images/keg.png" alt="keg" style="height:150px"/>
	    	<h1 class="header">The Not Coke Machine</h1>
			<span style="font-size: 1.2em">It's like Facebook for your dog.</span>
		</div>
    </div>
  </body>
</html>
